.modal-confirmacao .MuiPaper-root {
    border-radius: 0.5rem !important;
    padding: 1.1rem !important;
    width: 100%;
    max-width: 400px !important;
}

.modal-titulo {
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #000000 !important;
    text-align: center;
}

.modal-texto {
    text-align: center !important;
    color: #000000 !important;
    margin-top: 0.5rem;
}

/* Botões do Modal */
.modal-acoes {
    display: flex;
    justify-content: space-between !important;
    margin-top: 1.5rem !important;
}

.botao-cancelar {
    background-color: #ccc !important;
    color: black !important;
    margin-bottom: 0 !important;
    border-radius: 0.40rem !important;
}

.botao-excluir {
    background-color: #000000 !important;
    color: white !important;
    margin-bottom: 0 !important;
    border-radius: 0.4rem !important;
}

.botao-excluir:hover {
    background-color: #8c0b0e !important;
}
