.planos-container {
  background: black;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 4vh 0;
}

.planos-titulo {
  font-weight: 600 !important;
  color: white !important;
  margin-bottom: 4vh !important;
}

.planos-table-container {
  max-width: 70%;
  margin: 0 auto;
  background-color: transparent !important;
  border-width: 1px !important;
}

.planos-table {
  width: 100%;
  border-collapse: collapse !important;
}

.table-header {
  background-color: transparent !important;
  color: white !important;
  font-weight: 600;
  font-size: 1rem !important;
  padding: 2rem 1rem 1rem 1rem; /* Aumente o padding-top para dar mais espaço */
  position: relative;
}

.premium-header {
  background-color: rgba(255, 255, 255, 0.1) !important; /* Ajuste a cor conforme necessário */
  border-radius: 0.75rem 0.75rem 0 0 !important;
}

.plano-header-container {
  position: relative;
}

.plano-tag {
  background-color: #1b3562 !important;
  color: white !important;
  font-size: 0.75rem !important;
  padding: 0.5rem 1rem !important; /* Ajuste o padding para um tamanho menor */
  border-radius: 0.5rem !important;
  margin-bottom: 0.6rem !important;
  display: inline-block !important;
  position: absolute !important;
  top: -3.5rem !important; /* Ajuste a distância para cima */
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.plano-header-button {
  color: white !important;
  background-color: #1b3562 !important;
  text-transform: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.75rem !important;
  padding: 1rem !important;
  font-weight: 600 !important;
  width: 100%;
}

.premium-button {
  background-color: #135172 !important;
}

.plano-header-button:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.planos-subtitle {
  font-weight: 600;
  font-size: 1rem !important;
}

.plano-preco {
  margin-top: 1vh !important;
  font-weight: bold;
}

.row-title {
  background-color: transparent !important;
  font-weight: bold;
  padding: 1rem;
  color: #b1b1b1 !important;
}

.premium-row {
  background-color: rgba(255, 255, 255, 0.1) !important; /* Ajuste a cor conforme necessário */
}

.check-icon, .close-icon {
  color: #b1b1b1;
  font-size: 1.5rem;
}

.planos-table th,
.planos-table td {
  border: none !important;
}

.planos-table tbody tr {
  border-bottom: 1px solid #b1b1b1 !important;
  border-width: 1px !important;
}

.recomendado-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

@media (max-width: 768px) {
  .planos-table-container {
    overflow-x: auto;
  }

  .planos-table {
    min-width: 600px;
  }

  .planos-titulo {
    font-size: 1.1rem !important;
  }

  .planos-subtitle {
    font-size: 0.95rem !important;
  }

  .plano-preco {
    font-size: 0.9rem !important;
  }
}