* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: whitesmoke;
}

.ferramentas-container {
    display: flex;
}

.conteudo-principal {
    flex-grow: 1;
    padding: 2rem;
}

@media (max-width: 768px) {
    .ferramentas-container {
        flex-direction: column !important;
    }

}
