.viagens-container {
    padding: 2rem;
    background-color: inherit;
  }
  
  .viagens-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .viagens-title {
    font-weight: 600 !important;
    display: flex !important;
    align-items: center !important;
  }
  
  .viagens-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
  
  .search-input {
    max-width: 30% !important;
  }

  .dropdows-container{
    display: flex !important;
    width: 30% !important;
  }

  .dropdown-input{
    margin: 0 1rem !important
  }

  .MuiSelect-icon {
    font-size: 1.2rem !important;
    right: 0.7rem;
  }

  .dropdown-input .MuiSelect-select {
    padding: 1rem !important;
    display: flex;
    align-items: center;
  }

  .MuiMenuItem-root {
    font-size: 0.875rem !important;
  }
  
  .search-input input, .dropdown-input input {
    width: 100% !important;
  }
  
  .botao-cadastrar {
    background-color: #1B3562 !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 0.5rem 1rem !important;
    text-transform: none !important;
    border-radius: 0.3rem !important;
    max-width: 25% !important;
  }
  
  @media (max-width: 768px) {
    .viagens-filtros {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .filtro-status {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .viagens-container {
      padding: 1rem !important;
    }
  
    .viagens-title {
      font-size: 1.1rem !important;
    }
  
    .search-input {
      max-width: 100% !important;
    }
  
    .search-icon {
      font-size: 1.1rem !important;
    }
  
    .search-input input {
      font-size: 0.8rem !important;
    }
  
    .filtro-label {
      font-size: 0.8rem !important;
    }
  
    .radio-text {
      font-size: 0.8rem !important;
    }
  
    .botao-cadastrar {
      max-width: 100% !important;
      text-align: center !important;
    }
  
    .filtro-status {
      flex-direction: column !important;
      align-items: flex-start !important;
      gap: 0.5rem !important;
    }
  }
  