.manutencoes-container {
  padding: 2rem;
  background-color: inherit;
}

.manutencoes-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.manutencoes-title {
  font-weight: 600 !important;
  display: flex !important;
  align-items: center !important;
}

.icon-title {
  margin-right: 0.5rem !important;
  font-size: 1.7rem !important;
}

.manutencoes-filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

@media (max-width: 768px) {
  .manutencoes-filtros {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .manutencoes-container {
    padding: 1rem !important;
  }

  .manutencoes-title {
    font-size: 1.1rem !important;
  }
}
