.manutencoes-container {
  padding: 2rem;
  background-color: inherit;
}

.manutencoes-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.manutencoes-title {
  font-weight: 600 !important;
  display: flex !important;
  align-items: center !important;
}

.icon-title {
  margin-right: 0.5rem !important;
  font-size: 1.7rem !important;
}

.manutencoes-filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.search-input {
  max-width: 30% !important;
}

.search-input input {
  width: 100% !important;
}

.search-filtros-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

/* Botões principais */
.botao-cadastrar, .botao-filtrar{
  background-color: #1B3562 !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 0.5rem 1rem !important;
  text-transform: none !important;
  border-radius: 0.3rem !important;
  white-space: nowrap !important;

}

.botao-cadastrar{
  min-width: 12rem !important;
  max-width: 100% !important;
}

.botao-exportar{
  background-color: black !important;
  text-transform: none !important;
  border-radius: 0.3rem !important;
}

@media (max-width: 768px) {
  .manutencoes-filtros {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
  }

  .manutencoes-container {
      padding: 1rem !important;
  }

  .manutencoes-title {
      font-size: 1.1rem !important;
  }

  .search-input {
      max-width: 100% !important;
  }

  .search-icon {
      font-size: 1.1rem !important;
  }

  .search-input input {
      font-size: 0.8rem !important;
  }

  .botao-cadastrar,
  .botao-exportar {
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center !important;
  }

  .search-filtros-container {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
  }
}
