.usuarios-container {
    padding: 2rem;
    background-color: inherit;
  }
  
  .usuarios-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .usuarios-title {
    font-weight: 600 !important;
    display: flex !important;
    align-items: center !important;
  }
  
  .usuarios-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
  
  .search-input {
    max-width: 30% !important;
  }
  
  .search-input input {
    width: 100% !important;
  }
  
  .botao-cadastrar {
    background-color: #1B3562 !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 0.5rem 1rem !important;
    text-transform: none !important;
    border-radius: 0.3rem !important;
    max-width: 25% !important;
  }
  
  @media (max-width: 768px) {
    .usuarios-filtros {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .usuarios-container {
      padding: 1rem !important;
    }
  
    .usuarios-title {
      font-size: 1.1rem !important;
    }
  
    .search-input {
      max-width: 100% !important;
    }
  
    .search-icon {
      font-size: 1.1rem !important;
    }
  
    .search-input input {
      font-size: 0.8rem !important;
    }
  
    .botao-cadastrar {
      max-width: 100% !important;
      text-align: center !important;
    }
  }
  