.servico-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servico-title {
    margin-left: 0 !important;
    font-weight: 600 !important;
    align-self: flex-start !important;
    margin-bottom: 1rem !important;
}

.servico-content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    transition: all 0.3s ease;
    color: white;
}

.servico-item {
    flex: 1 1 calc(50% - 9rem);
    height: 50vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 6vw;
}

.servico-item.dark-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
    z-index: 1;
}

.servico-item.dark-overlay * {
    position: relative;
    z-index: 2;
}

.servico-icon {
    color: #ffffff;
    transition: transform 0.3s ease;
}

.servico-icon:hover {
    transform: scale(1.1);
}

.arrow-icon {
    color: #838383;
    margin-top: 2rem !important;
    animation: bounce 1.5s infinite;
}

.servico-subtitle-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    transition: all 0.3s ease;
}

.servico-subtitle {
    font-weight: 600 !important;
    text-align: left;
    width: 100%;
}

.servico-text {
    font-size: 0.875rem !important;
    text-align: justify;
    width: 100%;
}

.servico-saiba-mais-button{
    color: #ffffff !important;
    border-color: #ffffff !important;
    text-transform: none !important;
    font-weight: bold !important;
    align-self: flex-start !important;
    margin-top: 1rem !important;
    border-radius: 0.40rem !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.servico-saiba-mais-button:hover{
    color: #000000 !important;
    border-color: #ffffff !important;
    background-color: #ffffff !important;
}

@media (max-width: 768px) {
    .servico-container {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .servico-content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
    }

    .servico-title {
        font-size: 1.1rem !important;
        text-align: center !important;
        margin-bottom: 1rem !important;
    }

    .servico-item {
        flex: 1 1 100% !important;
        width: 100% !important;
        height: auto !important;
        padding: 10% !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .servico-text {
        font-size: 0.8rem !important;
        text-align: justify !important;
        width: 100% !important;
    }

    .servico-subtitle {
        font-size: 0.9rem !important;
    }

    .servico-subtitle-container {
        justify-content: center !important;
    }

    .servico-saiba-mais-button {
        font-size: 0.8rem !important;
        padding: 0.5rem 1rem !important;
        margin-top: 0.8rem !important;
    }
}
