.servico-container {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 3vh 0;
}

.servico-title {
    font-weight: 600 !important;
    margin-bottom: 3vh !important;
}

.servico-image {
    position: relative;
    width: 100%;
    max-height: auto;
    overflow: hidden;
    border-radius: 0.75rem;
    margin-bottom: 2vh;
}

.servico-content {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 2rem;
    transition: all 0.3s ease;
}

.servico-item {
    flex: 1;
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease;
}

.servico-icon {
    color: #1b3562;
    transition: transform 0.3s ease;
}

.servico-icon:hover {
    transform: scale(1.1);
}

.arrow-icon {
    color: #838383;
    margin-top: 2vh;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

.servico-subtitle-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    transition: all 0.3s ease;
}

.servico-subtitle {
    font-weight: 600 !important;
    text-align: left;
    width: 100%;
}

.servico-text {
    color: #555;
    font-size: 0.875rem !important;
    text-align: justify;
    width: 100%;
}

.servico-button-container {
    margin-top: 2vh;
}

.servico-button {
    color: #1b3562 !important;
    border-color: #1b3562 !important;
    text-transform: none !important;
    font-weight: bold !important;
    border-radius: 0.75rem !important;
    padding: 0.625rem 1.25rem !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.servico-button:hover {
    color: #ffffff !important;
    border-color: #1b3562 !important;
    background-color: #1b3562 !important;
}

@media (max-width: 768px) {
    .servico-image {
        width: 100vw;
        margin-left: -50vw;
        left: 50%;
        position: relative;
        border-radius: 0;
        margin-bottom: 3vh;
        transition: all 0.3s ease;
    }

    .servico-content {
        flex-direction: column;
        align-items: center;
    }

    .servico-item {
        max-width: 100%;
        align-items: flex-start;
        width: 100%;
        transition: all 0.3s ease;
    }

    .servico-subtitle-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
    }

    .servico-subtitle {
        font-size: 1rem !important;
        text-align: left;
        width: 100%;
    }

    .servico-text {
        font-size: 0.8rem !important;
        text-align: justify;
        width: 100%;
    }

    .servico-container {
        max-width: 80%;
    }

    .servico-title {
        font-size: 1.1rem !important;
    }

    .servico-button-container {
        font-size: 0.8rem !important;
    }
}