.ajuda-container {
  padding: 2rem;
  background-color: inherit;
}

.ajuda-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.ajuda-title {
  font-weight: 600 !important;
  display: flex !important;
  align-items: center !important;
}

.icon-title {
  margin-right: 0.5rem !important;
  font-size: 1.7rem !important;
}

.ajuda-lista {
  margin-top: 1rem;
}

.passo-a-passo-container {
  transition: all 0.2s ease;
}

.passo-a-passo-container.Mui-expanded {
  border-radius: 0.35rem !important;
}

.ajuda-lista ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.ajuda-lista li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.ajuda-contato {
  margin-top: 2rem;
  background-color: #f4f6f8;
  border-radius: 0.5rem;
}
