.veiculos-container {
    padding: 2rem;
    background-color: inherit;
}

/* Título */
.veiculos-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.veiculos-title {
    font-weight: 600 !important;
    display: flex !important;
    align-items: center !important;
}

/* Filtros */
.veiculos-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

/* Campo de Busca */
/* Correção para garantir que o tamanho do input seja aplicado */
.search-input {
    max-width: 30% !important;
}

/* Certificando-se de que o input interno do MUI também recebe o estilo */
.search-input input {
    width: 100% !important;
}


/* Filtro de Manutenção */
.filtro-manutencao {
    display: inline-block;
    align-items: center;
    gap: 1rem;
}

.filtro-label {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Estiliza os radio buttons */
.radio-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.radio-button.Mui-checked {
    color: #1B3562 !important;
}

.radio-text {
    font-size: 0.9rem !important;
}

/* Botão de Cadastro */
.botao-cadastrar {
    background-color: #1B3562 !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 0.5rem 1rem !important;
    text-transform: none !important;
    border-radius: 0.3rem !important;
    max-width: 25% !important;
}


@media (max-width: 768px) {
    .veiculos-filtros {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .filtro-manutencao {
        flex-direction: column;
        align-items: flex-start;
    }

    .veiculos-container {
        padding: 1rem !important;
    }

    .veiculos-title {
        font-size: 1.1rem !important;
    }

    .search-input{
        max-width: 100% !important;
    }

    .search-icon {
        font-size: 1.1rem !important;
    }

    .search-input input {
        font-size: 0.8rem !important;
    }
    
    .filtro-label{
        font-size: 0.8rem !important;
    }

    .radio-text{
        font-size: 0.8rem !important;
    }

    .botao-cadastrar {
        max-width: 100% !important;
        text-align: center !important;
    }

    .filtro-manutencao {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 0.5rem !important; 
    }
}
